@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,);

body{
    font-family: "Montserrat" sans-serif;

}

.header{
    min-height: 900px;
    background-color: black;
}